
/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/
.footer {
  background-color: var(--jet);
  color: var(--white_a75);
  border-block-start: 1px solid var(--orange-red);
  padding-block: 18px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 18px;
  margin-block-end: 15px;
}

.social-link { font-size: 1.8rem; }

.social-link:is(:hover, :focus-visible) { color: var(--orange-red_a20); }
