
<!-- inicio do footer -->
<footer class="footer">
  <div class="container">
    <ul class="social-list">
      <li>
        <a href="https://www.linkedin.com/in/sarah-santana-de-morais-1a2aaa277/" class="social-link">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </li>

      <li>
        <a href="https://github.com/SarahSSM1?tab=repositories" class="social-link">
          <i class="fab fa-github"></i>
        </a>
      </li>

      <li>
        <a href="mailto:sarah.santana.morais1@gmail.com" class="social-link">
          <i class="fa-regular fa-envelope"></i>
        </a>
      </li>
    </ul>
    <p class="text-center">&copy; 2023 copyright all right reserved</p>
  </div>
  </footer>
  <!-- final do footer -->
