/*-----------------------------------*\
  #img
\*-----------------------------------*/

#main-banner{
  background-size: cover;
  background-position: 0 100%;
  position: relative;
}

.bru{
  background-size: 100% auto no repeat;
  padding: 0;
}


/*-----------------------------------*\
  #expertise
\*-----------------------------------*/

.top{
  padding: 50px;
  background-color:#eddcf5;
 }

 .header{
  text-align: center;
  padding: 1rem;
  color: #312f2f;
  position: relative;
  display: flex;
}

.barra{
  height: 4px;
  width: 100px;
  background-color: #961AB8 ;
}

 .box{
   position: relative;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   justify-content: center;
   text-align: center;
   align-items: center;
   grid-gap: 1rem;
   padding: 1rem 80px;
   font-size: 1.2rem;
 }

 .skill-box{
   padding: 1rem;
   color: black;
   cursor: pointer;
 }

 .skill-title{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 0.5rem;
   margin-bottom: 0.5rem;
 }

 .img{
   width: 90px;
   height: 90px;
   position: relative;
   border-radius: 45px;
   background-color: #f2e8f8;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .skill-title h3{
  color: #93356E;
  margin: 0.5rem;
 }

 .skill-icon{
   width: 40px;
 }









/*-----------------------------------*\
  #projects
\*-----------------------------------*/

.botao{
  display: flex;
  justify-content: center;
  place-items: center;
  height: 100vh;
  background-color: #00ffff;
}

.item{
  transition: .25s;
  cursor: pointer;
  border-radius: 30px;
}

.item:hover > :not(:hover){
  opacity: .5;
  transform: scale(0.9);
  transition: .6s;
}
