<!-- sessão pai -->
<section class="container-fluid">
  <!-- inicio da sessão habilidades -->
  <section id="home" aria-label="home">
    <div id="main-banner">
      <figure>
        <img src="/assets/fotos/banner.jpg" alt="banner fofo" class="w-100" />
      </figure>
    </div>
  </section>
  <!-- inicio da sessão habilidades -->

  <!-- inicio da sessão habilidades -->
  <section id="habilidades" class="container-fluid">
    <div class="row top">
      <div class="container box">
        <div class="skill-box"></div>

        <div class="skill-box">
          <div class="skill-title">
            <h1 class="text-center">My Skills</h1>
            <h3 class="barra"></h3>
          </div>
        </div>
      </div>

      <div class="container box">
        <div class="skill-box">
          <div class="skill-title">
            <div class="img">
              <img
                src="https://static-00.iconduck.com/assets.00/file-type-angular-icon-1907x2048-tobdkjt1.png"
                class="skill-icon"
                alt="angular"
              />
            </div>
            <h3>Angular</h3>
          </div>
          <p>
            Angular is a widely used front-end development framework, primarily
            employed for creating dynamic and interactive web applications.
          </p>
        </div>

        <div class="skill-box">
          <div class="skill-title">
            <div class="img">
              <img
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg"
                class="skill-icon"
                alt="HTML5"
              />
            </div>
            <h3>HTML 5</h3>
          </div>
          <p>
            HTML5 is the latest version of the Hypertext Markup Language, which
            is essential for building web pages, empowering developers to create
            richer and more interactive websites.
          </p>
        </div>

        <div class="skill-box">
          <div class="skill-title">
            <div class="img">
              <img
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"
                class="skill-icon"
                alt="Javascript"
              />
            </div>
            <h3>Javascript</h3>
          </div>
          <p>
            JavaScript is a widely used programming language for web development
            that plays a fundamental role in creating interactive and dynamic
            experiences on the internet.
          </p>
        </div>

        <div class="skill-box">
          <div class="skill-title">
            <div class="img">
              <img
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg"
                class="skill-icon"
                alt="TypeScript"
              />
            </div>
            <h3>TypeScript</h3>
          </div>
          <p>
            TypeScript is a powerful and increasingly popular programming
            language that builds upon JavaScript by adding static typing and
            strong tooling support. It provides developers with the means to
            write safer and more maintainable code for web and server-side
            applications.
          </p>
        </div>

        <div class="skill-box">
          <div class="skill-title">
            <div class="img">
              <img
                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original.svg"
                class="skill-icon"
                alt="CSS3"
              />
            </div>
            <h3>CSS 3</h3>
          </div>
          <p>
            CSS3, or Cascading Style Sheets Level 3, represents a significant
            advancement in web styling and design. It introduces a host of new
            features and capabilities that have transformed the way web
            developers and designers create visually appealing and responsive
            websites.
          </p>
        </div>

        <div class="skill-box">
          <div class="skill-title">
            <div class="img">
              <img
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sass/sass-original.svg"
                class="skill-icon"
                alt="Sass"
              />
            </div>
            <h3>Sass</h3>
          </div>
          <p>
            Sass, or Syntactically Awesome Stylesheets, is a powerful
            preprocessor scripting language that extends the capabilities of
            traditional CSS. It provides web developers and designers with a
            more efficient and maintainable way to write styles for web
            applications.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- final da sessão habilidades -->

  <!-- inicio da sessão sobre -->
  <section id="sobre">
    <div class="container-fluid">
      <div class="row">
        <img
          class="col-md-12 col-sm-12 mt-4 mb-5 bru"
          src="/assets/fotos/bla.png"
          alt="mosaico"
        />
      </div>
    </div>

    <div class="container box">
      <div class="skill-box"></div>
      <div class="skill-box">
        <div class="skill-title">
          <h1 class="text-center">About</h1>
          <h3 class="barra"></h3>
        </div>
      </div>
    </div>

    <div class="container col-md-8 mt-4 mb-5" style="text-align: justify">
      <div class="row">
        <div class="col word">
          <p>
            In 2020, after being approved in a competition to work at a
            state-owned company, a group of colleagues and I developed an
            application to assist in the company's daily operations. As I became
            more interested in the project and continued to work on the
            prototype, I delved deeper into coding and web development.
          </p>
          <p>
            Throughout my career, I have devoted myself to improving my
            technical skills and creating innovative web solutions. Over the
            years, I have had the opportunity to work on various projects using
            Angular as the primary development tool. During these projects, I
            could dive into concepts such as componentization, routing,
            services, and dependency injection. Additionally, I explored the
            integration of Angular with other popular technologies, such as
            TypeScript, HTML5, and CSS3, to create responsive, interactive, and
            visually appealing user interfaces.
          </p>
          <p>
            To expand my creativity, I develop projects on GitHub. This allows
            me to explore new ideas and solutions, as well as enhance my
            technical skills. I create repositories for different types of
            projects, including web applications, desktop programs, and mobile
            apps. I use programming languages like Angular, TypeScript, and
            JavaScript, and I am also dedicated to learning new technologies and
            frameworks. Currently, I focus on Front-end technologies, but I plan
            to become a Fullstack developer in the near future.
          </p>
          <p style="margin-bottom: 50px">
            On GitHub, I take the opportunity to collaborate with other
            developers, which helps me develop my teamwork skills and build a
            network in the programming field. I am always seeking new challenges
            and opportunities for professional growth. I believe that creativity
            is essential for innovation, and it is through the projects I
            develop that I apply this skill and stand out as a professional. I
            am available for new challenges and eager to put my skills into
            practice in new projects.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- final da sessão sobre -->

  <!-- inicio da sessão projetos -->
  <section id="projetos" class="container-fluid">
    <div class="row">
      <div class="container">
        <div class="skill-box"></div>
        <div class="skill-box">
          <div class="skill-title">
            <h1 class="text-center">Projects</h1>
            <h3 class="barra"></h3>
          </div>
        </div>
      </div>

      <div class="container" style="margin-bottom: 100px">
        <div class="item col-md-12 mt-4 mb-3">
          <a href="https://github.com/SarahSSM1/Pizzaria_FNAF">
            <img
              class="item col-md-4 mb-5"
              src="/assets/fotos/FFP.png"
              alt="fnaf"
            />
          </a>
          <a href="https://github.com/SarahSSM1/Pokedex">
            <img
              class="item col-md-4 mb-5"
              src="/assets/fotos/Pokedéx.png"
              alt="pokemon"
            />
          </a>
          <a href="https://github.com/SarahSSM1/Portfolio">
            <img
              class="item col-md-4 mb-5"
              src="/assets/fotos/portfolio.png"
              alt="portfolio"
            />
          </a>

          <div class="text-center">
            <a
              class="btn btn-warning"
              href="https://github.com/SarahSSM1?tab=repositories"
            >
              Veja Mais
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- final da sessão projetos -->
</section>
<!-- fim da sessão pai -->
