.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 10%;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  justify-content: center;
}

.navbar a{
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.5rem;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
  color: rgb(99, 0, 164);
}

nav ul li a:hover {
   color: #FF621A;
}

@media (max-width: 992px){
  .header{
    justify-content: left ;
  }
}
