<!-- inicio da Navbar -->
<header class="header" data-header>
  <div class="container">
    <nav class="navbar" data-navbar [ngClass]="status ? 'active' : ''">
      <ul class="navbar-list">
        <li class="navbar-item">
          <a href="#home"  class="label-lg navbar-link has-after" routerLinkActive="active">Home</a>
        </li>
        <li class="navbar-item">
          <a href="#habilidades"  class="label-lg navbar-link has-after" routerLinkActive="active">Expertise</a>
        </li>

        <li class="navbar-item">
          <a href="#sobre"  class="label-lg navbar-link has-after" routerLinkActive="active">Portfolio</a>
        </li>

        <li class="navbar-item">
          <a href="#projetos"  class="label-lg navbar-link has-after" routerLinkActive="active">Projects</a>
        </li>
      </ul>
    </nav>

    <div class="text-center">
      <button class="nav-toggle-btn" aria-label="menu" data-nav-toggler (click)="addToggle()"></button>
    </div>
  </div>
</header>
<!-- final da Navbar -->

<section id="home" class="section hero" aria-label="home">
  <div id="main-banner">
    <figure class="hero-banner">
      <img src="/assets/fotos/banner.jpg"
        alt="banner fofo" class="w-100">
    </figure>

  </div>
</section>

 <!-- inicio da sessão habilidades -->
 <section id="habilidades" class="container-fluid">
  <div class="d-flex justify-content-center align-items-center">
    <img class="col-md-5 mt-3 mb-5 ml-5" src="/assets/fotos/habilidades.png" alt=" foto habilidades"/>
  </div>

  <div class="container mb-5">
    <div class="row">
      <div class="col-md-12">
        <a>
          <img class="icons col-md-2 mb-5" src="/assets/fotos/Angular.png" alt="Angular" />
        </a>
        <a>
          <img class="icons col-md-2 mb-5" src="/assets/fotos/CSS3.png" alt="CSS3" />
        </a>
        <a>
          <img class="icons col-md-2 mb-5" src="/assets/fotos/github.png" alt="Github" />
        </a>
        <a>
          <img class="icons col-md-2 mb-5" src="/assets/fotos/HTML5.png" alt="HTML5" />
        </a>
        <a>
          <img class="icons col-md-2 mb-5" src="/assets/fotos/JS.png" alt="JavaScript" />
        </a>
        <a>
          <img class="icons col-md-2 mb-5" src="/assets/fotos/sass.png" alt="Sass" />
        </a>
      </div>
    </div>
  </div>
</section>
<!-- final da sessão habilidades -->

<!-- inicio da sessão sobre -->
<section id="sobre">
  <div class="container-fluid">
    <div class="row">
      <img
        class="col-md-12 col-sm-12"
        src="/assets/fotos/mosaico.png"
        alt="mosaico"
      />
    </div>
  </div>

  <div class="container">
    <div class="d-flex justify-content-center align-items-center">
      <img
        class="col-md-3 mt-3 mb-5 ml-5"
        src="/assets/fotos/Sobre.png"
        alt="sobre"
      />
    </div>
    <p>
      Em 2020, após passar em um concurso para atuar como jovem aprendiz da
      Petrobras, eu e um grupo de colegas, idealizamos um aplicativo para
      ajudar no cotidiano da empresa, com o objetivo de expandir para outras
      coorporações. Com isso acabei me interessando pela area, e dei
      continuidade ao prototipo, fazendo com que nos transformássemos em uma
      pequena startup. Oriunda a essa experiencia me aprofundei mais na
      codificação e desenvolvimento web.
    </p>

    <p>
      Posteriormente, tive o privilégio de desenvolver para uma agência de
      publicidade, liderada por uma grande corporação, onde tive a
      oportunidade de atuar em projetos nacionais e internacionais, e em
      pequenas startups. Durante esse período, desenvolvi minhas competências
      em Javascript, HTML, CSS, SASS e outras atividades como APIs e banco de
      dados e o framework Angular (8, 9 e 12).
    </p>

    <p>
      Atualmente estou focando nas tecnologias voltadas ao FrontEnd, mas tenho
      o objetico de me tornar fullstack. Meu foco principal é construir
      aplicações de qualidade e trazer a melhor experiencia visual possivel
      nos projetos destinados a futuros clientes. No meu tempo livre, crio
      alguns projetos com coisas que gostava na infancia.
    </p>
  </div>
</section>
<!-- final da sessão sobre -->

<!-- inicio da sessão projetos -->
<section id="projetos" class="container-fluid">
<div class="d-flex justify-content-center align-items-center">
    <img class="col-md-4 mt-5 mb-3 ml-5" src="/assets/fotos/projetos.png" alt=" foto habilidades"/>
</div>

<div class="container mb-5">
  <div class="row">
    <div class="item col-md-12 mt-4">
      <a href="https://github.com/SarahSSM1/Pizzaria_FNAF">
        <img class="item col-md-4 mb-5" src="/assets/fotos/FFP.png" alt="fnaf" />
      </a>
      <a href="https://github.com/SarahSSM1/Pokedex">
        <img class="item col-md-4 mb-5" src="/assets/fotos/Pokedéx.png" alt="pokemon" />
      </a>
      <a href="https://github.com/SarahSSM1/Portfolio">
        <img class="item col-md-4 mb-5"  src="/assets/fotos/portfolio.png" alt="portfolio" />
      </a>

      <div class="text-center">
        <a class="btn btn-warning" href="https://github.com/SarahSSM1?tab=repositories">Veja Mais</a>
     </div>

      <!-- <div class="text-center">
        <button class="botaum btn btn-outline-light btn-floating m-1" type="button" href="https://github.com/SarahSSM1?tab=repositories" role="button">
          Veja Mais
        </button>
     </div> -->
    </div>
  </div>
</div>
</section>
<!-- final da sessão projetos -->

<!-- inicio do footer -->
<footer class="footer">
<div class="container">
  <ul class="social-list">
    <li>
      <a href="https://www.linkedin.com/in/sarah-santana-de-morais-1a2aaa277/" class="social-link">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </li>

    <li>
      <a href="https://github.com/SarahSSM1?tab=repositories" class="social-link">
        <i class="fab fa-github"></i>
      </a>
    </li>

    <li>
      <a href="mailto:sarah.santana.morais1@gmail.com" class="social-link">
        <i class="fa-regular fa-envelope"></i>
      </a>
    </li>
  </ul>
  <p class="text-center">&copy; 2023 copyright all right reserved</p>
</div>
</footer>
<!-- final do footer -->

